.sideGrid {
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    background: #ffffff;
    /* box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff; */
    height:400px;
    overflow: scroll;
    /* width:100%; */
    
}
.bottomGrid {
    background-color: #D3D3D3;
    /* border-radius: 50px;
    overflow: hidden;
    outline: none;
    background: #ffffff; */
    /* box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff; */
    /* width:100%; */
    
}